/* Position the footer at the bottom of the page, but not fixed. */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.contents {
    margin: 0 auto;
    // padding-top: 64px;
    // max-width: 640px;
    // width: 94%;
}

/**
 * Footer Styles
 */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #F3F3F3;
    background-color: #3b3b3b;
}

.footer-text {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 400;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

footer a {
    color: #0299fc;
}

.toiLogo {
    width: 500px;
    margin-right: 10px;
}

.byvaapen {
    width: 100px;
}

@media (max-width: 550px) {
    .toiLogo {
        width: 90vw;
    }
}

@media (max-width: 630px) {
    .toiLogo {
        width: 90vw;
        margin-bottom: 1rem;
    }
}


