$footer-height: 170px;

/* Position the footer at the bottom of the page, but not fixed. */
html {
    min-height: 100%;
    position: relative;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: $footer-height;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* same as body margin-bottom here */
    min-height: $footer-height;
    color: #F3F3F3;
    background-color: #3b3b3b;
    padding-top: 10px;
}

.footer-text {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 400;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}


.toiLogo {
    width: 500px;
    margin-right: 10px;
}

.byvaapen {
    width: 100px;
}

@media (max-width: 550px) {
    .toiLogo {
        width: 90vw;
    }
}

@media (max-width: 630px) {
    .toiLogo {
        width: 90vw;
        margin-bottom: 1rem;
    }
}

.jumbotron, .homeHeader {
    min-height: 200px;
    max-height: 500px;
    background-image: url('images/samuel-foster-199587.jpg');
    background-position: center center;
    border-radius: 0;
    color: #e0e0e0;
    background-size: cover;
    /* text-align: center; */
}

.homeHeader h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    font-family: 'Lora', serif;
}

.homeHeader p {
    font-weight: 800;
    font-size: 24px;
}

.caretRight {
    height: 15px;
}

img.groupIcon {
    width: 5rem;
}

.groupPanel {
    text-align: center;
    color: #202020;
    font-size: 1.5rem;    
}

.groupPanel .card {
    margin-bottom: 2rem;
}

.groupPanels {
    margin-bottom: 4rem;
}

.backArrow {
    height: 24px;
}

.groupPageHeader {
    width: 100%;
    text-align: center;
}

.groupHeader {
    margin-top: 14px;
}

.groupHeader h1 {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
}

.conclusion {
    margin-top: 1em;
}

.isProfitableMark {
    font-size: 2em;
}

.conclusion p {
    
}

