$footer-height: 170px;

/* Position the footer at the bottom of the page, but not fixed. */
html {
    min-height: 100%;
    position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* same as body margin-bottom here */
    height: $footer-height;
    color: #F3F3F3;
    background-color: #3b3b3b;
}

.footer-text {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 400;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

footer a {
    color: #0299fc;
}

.toiLogo {
    width: 500px;
    margin-right: 10px;
}

.byvaapen {
    width: 100px;
}

@media (max-width: 550px) {
    .toiLogo {
        width: 90vw;
    }
}

@media (max-width: 630px) {
    .toiLogo {
        width: 90vw;
        margin-bottom: 1rem;
    }
}

